[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
dash = "*"
plotly = "*"
seaborn = "*"
ipykernel = "*"
scikit-learn="*"
prosperity2bt="*"
prosperity2submit="*"

[dev-packages]

[requires]
python_version = "3.12"
